.full-area{
    display: flex;
    gap: 20px;
}

.inventory{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 7px;
    margin-left: 5px;
    
    text-align: center;
    
    
   
    
    
}
.inventory p{
    border: 1px solid blue;
    margin: auto;
    text-align: center;
    width: 350px;
    height: 500px;
    padding: 7px;
    
    

}
.manage-button{
    width: 120px;
    height: 25px;
    margin-right: 50px;
    cursor: pointer;
   background-color: rgb(154, 154, 230);
    
    
    
}
.manage-button2{
    width: 130px;
    height: 25px;
    margin-left: 30px;
    cursor: pointer;
    background-color: rgb(154, 154, 230);
    
}
.manage-button2:hover{
    background-color: yellow;
}
.manage-button:hover{
    background-color: rgb(245, 63, 63);


}